<html>
  <head>

    <link rel="stylesheet" href="../styles/layout.less" />
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
    {{#block "head"}}
      <title> Project Titan </title>
    {{/block}}

  </head>
  <body>
      {{#block "body"}}
      {{/block}}


      <script type="text/javascript" src="../node_modules/hammerjs/hammer.min.js"> </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      {{#block "foot"}}
      {{/block}}
  </body>
</html>
